@page
@model ZealandBook.GetAvailableRoomModel
@{
    ViewData["Title"] = "Available Rooms";
}

<div class="container">
    <h4>List of Rooms</h4>
    <table>
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Room Name</th>
                <th>Room Type</th>
                <th>Room Size</th>
                <th>Room Facilities</th>
                <th>Building</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.rooms)
            {
                <tr>
                    <td>@item.Room_ID</td>
                    <td>@item.Room_Name</td>
                    <td>@item.Room_Type</td>
                    <td>@item.Room_Size</td>
                    <td>@item.RoomFacilities</td>
                    <td>@item.Building</td>
                    <td>@item.Description</td>
                    <td>
                        <a class="btn btn-primary" asp-page="/Booking/CreateBooking" asp-route-rid="@item.Room_ID">Book Room</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
