@page
@model ZealandBook.GetBookingModel
@{
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
}
<div class="container">
    <h4>List of Bookings</h4>
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Booking date</th>
                <th>Booking valid date</th>
                <th>Student ID</th>
                <th>Teacher ID</th>
                <th>Room ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.bookings)
            {
                <tr>
                    <td>@item.BookingID</td>
                    <td>@item.DateFrom</td>
                    <td>@item.DateTo</td>
                    <td>@item.Student_Id</td>
                    <td>@item.Teacher_Id</td>
                    <td>@item.Room_Id</td>
                    @{
                        var isAdmin = HttpContext.Session.GetString("TeacherAdmin") == "true";
                    }
                    @if (isAdmin)
                    {
                        <td>
                            <a asp-page="/Booking/DeleteBooking" asp-route-id="@item.BookingID" class="btn btn-danger" style="padding: 5px 10px; font-size: 12px;">Delete</a>
                        </td>


                    }
                </tr>
            }
        </tbody>

    </table>

    <a asp-area="" asp-page="/Booking/MyBookings" class="btn btn-primary">Dine bookinger</a>


</div>
