@page
@model ZealandBook.CreateStudentModel
@{
    ViewData["Title"] = "Create";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="@Model.student.StudentName" class="control-label"></label>
                <input asp-for="@Model.student.StudentName" class="form-control" />
                <span asp-validation-for="@Model.student.StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.student.StudentEmail" class="control-label"></label>
                <input asp-for="@Model.student.StudentEmail" class="form-control" />
                <span asp-validation-for="@Model.student.StudentEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>